
*{
    margin-left: 40px;
}
body{
    background-color: #FFFFFF;
}

header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    position: relative;
    gap: 40px;
    list-style-type: none;
    position: relative;
    right: 20px;
    top: 30px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.logo{
    position: relative;
    top: 20px;
    left: 80px;

}

.maintext{
     background-color: #ffffff;
    display: flex;
    position: relative;
    top: 50px; 
    left: 40px;
}

.intro{
    background-color: #ffffff;
    display: flex;
    position: relative;
    top: 60px; 
    left: 30px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
  font-style: normal;
   
}
.triangle{
    
    position: relative;
    bottom: 240px;
    right: 100px;
    z-index: -10;
}


.car{
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 600px;
    right: 130px;
    z-index: 10;
}
.animbutton{
    background-color: aqua;
    color: #FFFFFF;
    padding: 15px 30px;
    font-size: 66px;
    text-transform: capitalize;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative; 
    top: 30px;
    left: 350px;
    animation: cursorAnim 2s infinite;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes cursorAnim{

    0%{ 
    background-color: #FFFFFF;
    }

    100%{
        background-color: aqua;
    }
}

.mainarea{
   display: flex;
}

.picture1{
    height: 100px;
    width: 100px;
}


.mainimg{

    position: relative;
    height: 400px;
    width: 950px;
    left: 135px;
    top: 10px;
}


.carousel{
    height: 100px; ;
    width: 100px; ;
    position: relative;
}
.carousel > ul {
    margin:0px;
    padding:0px;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}


.slide.active{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover
.carousel-button:focus{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .3);
}

.carousel-button.prev{
    left: 150px;
}

.carousel-button.next{
    right: 50px;
}

a{
    text-decoration: none;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 100px auto 0;
    max-width: 800;
    overflow: hidden;
}

main >*{
    grid-row: 1/2;
}

.mainvideo{
    position: relative;
    height: 400px;
    width: 950px;
    left: 135px;
    bottom: 505px;
}

